/* header */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-wrapper {
    padding: 12px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-brand {
    width: 200px;
}
.header-nav {
    display: flex;
    gap: 24px;
}
.header-nav-item {
    color: var(--negro);
    padding: 12px 8px;
}
.header-nav-item:hover {
    color: var(--Naranjoso)
}
.header-nav-buttom {
    color: var(--blanco)
    font-weight: 900;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--Verde);
}

.header-nav-buttom:hover {
    background-color: var(--Naranjoso);
}